<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>

<%= stylesheet_link_tag 'comments' %>
<div class="form-page-content">
  <div class="row container">
    <div class="col s12 form-column">
      <div class="card signup-form-container-card">
        <div class="card-content">
          <span class="card-title">Edit Comment</span>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <p>Please fillout the following fields to edit this comment</p>
          <%= form_for(@comment) do |f| %>
              <div class="row">
                <div class="col s12 m12 l12">
                  <ul>
                    <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <div class="input-field col s6 m6 l6">
                  <%= f.label :title %>
                  <%= f.text_field :title, :value => @comment.title %>
                </div>
                <div class="input-field col s12 m12 l12">
                  <%= f.label :content %>
                  <%= f.text_field :content, :value => @comment.content %>
                </div>
                <div class="input-field col s12 m12 l12">
                  <select name="comment[rating]">
                    <option value="" disabled selected>Choose rating</option>
                    <option value="1" <%= (@comment.rating==1) ? 'selected':'' %>>1</option>
                    <option value="2" <%= (@comment.rating==2) ? 'selected':'' %>>2</option>
                    <option value="3" <%= (@comment.rating==3) ? 'selected':'' %>>3</option>
                    <option value="4" <%= (@comment.rating==4) ? 'selected':'' %>>4</option>
                    <option value="5" <%= (@comment.rating==5) ? 'selected':'' %>>5</option>
                  </select>
                  <label>Rating</label>
                </div>
                <div class="col s6 m6 l6">
                  <button class="btn waves-effect waves-light form-button-submit" type="submit" name="action">Create Comment
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        $('select').material_select();
    });
</script>
