<%= stylesheet_link_tag 'rooms' %>
<div class="form-page-content">
  <div class="row container">
    <div class="col s12 form-column">
      <div class="card container-card">
        <div class="card-content">
          <span class="card-title">Edit Room <%= @room.number %></span>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <% if(@room.errors.full_messages.count>0) %>
              <div id="error_explanation">
                <ul>
                  <% @room.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <p>Here you can view and update room information</p>
          <%= form_for(@room) do |f| %>
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <!--<%= f.file_field :room_pic, accept: "image/*" %>-->
                      <img class="room-form-picture" src="<%= @room.room_pic_path %>">
                    </div>
                    <div class="col s12 m12 l12">
                      <button data-target="modal1" class="btn modal-trigger edit-prof-pic-btn"><i class="material-icons">mode_edit</i>Change Room Picture</button>
                    </div>
                  </div>
                </div>
                <div class="input-field col s6 m6 l6">
                  <%= f.label 'Room#' %>
                  <%= f.text_field :number, autofocus: true, :value => @room.number %>
                </div>
                <div class="input-field col s6 m6 l6">
                  <%= f.label 'Description' %>
                  <%= f.text_field :description, autofocus: true %>
                </div>
                <div class="input-field col s12 m12 l12">
                  <select name="room[room_category]">
                    <option value="" disabled>Choose room category</option>
                    <% @categories.each do |cat| %>
                        <option <%= (cat.id==@room.room_category.id) ? 'selected':'' %>" value="<%= cat.id %>"><%= cat.name %></option>
                    <% end %>
                  </select>
                  <label>Room Category</label>
                </div>
                <div class="input-field col s12 m12 l12">
                  <%= f.label 'Price' %>
                  <%= f.text_field :price, autofocus: true, :value => @room.price%>
                </div>
                <div class="input-field col s6 m6 l6">
                  <%= f.label 'Available' %>
                  <div class="switch">
                    <label>
                      Off
                      <input name="rool[isAvailable]" type="checkbox">
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                </div>
                <div class="col s12 m12 l12">
                  <button class="btn waves-effect waves-light form-button-submit" type="submit" name="action">Update
                    <i class="material-icons right">send</i>
                  </button>
                </div>
                <div class="col s12 m12 l12">
                  <i>Want to remove this hotel completely?</i><a href="<%= room_path(@room) %>" data-method="delete" onclick="return confirm('Are you sure?')" class="waves-effect waves-teal btn-flat medium-left-margin">Remove this room</a>
                </div>
                <div class="col s12 m12 l12">
                  <%= link_to "Back", :back %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal" style="z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 4%;">
  <form action="<%= room_picture_update_path(@room) %>" enctype="multipart/form-data" accept-charset="UTF-8" method="post">

    <div class="modal-content">
      <h4>Edit Room Picture</h4>
      <p>Please select a new room picture and submit the change</p>
      <div class="row" style="margin-top: 20px;">
        <div class="col s12 m12 l12">
          <input type="file" accept="image/*" name="room_pic">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button style="color: rgba(19, 146, 87, 0.83);" class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
    });
</script>
